{
	"root": true,
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"plugin:vue/vue3-recommended",
		"eslint:recommended",
		"@vue/typescript/recommended",
		"@vue/prettier",
		"@vue/eslint-config-prettier"
	],
	"parserOptions": {
		"ecmaVersion": 2021
	},
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": ["error"],
		"vue/require-default-prop": 0,
		"vue/html-indent": ["error", "tab", {
			"attribute": 1,
			"baseIndent": 1,
			"closeBracket": 0,
			"alignAttributesVertically": true,
			"ignores": []
		}],
		"vue/singleline-html-element-content-newline": 0,
		"vue/component-name-in-template-casing": ["error", "PascalCase"]
	},
	"globals": {
		"_": true
	}
}
